<section>
  <h1>Blogroll</h1>
  <p><a href="https://blog.g0tmi1k.com/">g0tmi1k</a></p>
  <p><a href="http://redteamjournal.com/">Red Team Journal</a></p>
  <p><a href="https://www.corelan.be/">Corelan Team</a></p>
  <p><a href="http://www.madirish.net/">Mad Irish</a></p>
  <p><a href="http://redteams.net/blog/">redteams.net</a></p>
  <p><a href="https://www.mattandreko.com/">MattAndreko.com</a></p>
  <p><a href="http://blog.portswigger.net/">Portswigger Web Security</a></p>
  <p><a href="http://blog.cobaltstrike.com/">Cobalt Strike blog</a></p>
  <p><a href="https://highon.coffee/blog/">HighOn.Coffee</a></p>

</section>
